/************************************************************************************/
/****************** For cellphone small screens 
****************************/


body {
  font-family: "Open Sans", serif;
  background-color: black;
  overflow-x: hidden;
  float: right;
  color: red;
}

.TB01 {
	display: block;
	margin: auto;
	width: 80%;
	background: rgb(82, 0, 0)
	border: red solid 2px;
	padding: 4px;
	
}

.TB02 {
	margin: auto;
	background: rgb(12, 12, 14);
	border: white dashed 1px;
	width: 40vw;
	font-size:calc(12px + 1.5vw);
}

h1 {
	size: 5%;
}

.pic {
	display: block;
	margin: auto;
	
	background-image: url('KM01.jpg');
	background-size: 30vw;
	background-repeat: no-repeat;
	
	width: 30vw;
	height: 35vw;
	border-radius: 90vw;
	min-width: 80px;
	
}

.picOver {
	display: block;
	margin: auto;
	
	background-image: url('../IMAGES/KM01.jpg');
	background-size: 50vw;
	background-repeat: no-repeat;
	
	width: 50vw;
	height: 60vw;
	border-radius: 0vw;
	min-width: 80px;
}

.picH {
	display: block;
	margin: auto;
	width: 30vw;
	border-radius: 0vw;
	min-width: 80px;
	
}

.title01 {
	display: block;
	margin: auto;
	width: 30vw;
}

.vdOFF {
	width: 0px;
	height:0px;
}

.vdON {
	width: 600px;
	height: 400px;
}


.ST {
	font-size: calc(24px + 3vw);
	color: white;
	}

p {
	color: red;
	size: 2vw;
	position: center;
}

a {
    text-decoration:none;
    color: #2f1405;
    font-size: 20px;
}

#lEYE {
	width: 10vw;
	height: 10vw;
	border-radius: 25px;
	backround: yellow;
}

@media (min-width: 400px) {}
    
  

@media (min-width: 1000px) {
    
  
}
